.Article-Title h1 {
  margin: 0 0 0 0;
  transition: height 0.2s ease;
}

.Article-Title h2 {
  font-size: 1.3em;
  margin: 0 0 0.2em 0;
  transition: height 0.2s ease;
}

.Article-Title a:hover {
  color: #b2b2b2;
}

.Article-Title {
  margin: 0 0 1.5em 0;
}

.return-home-article {
  margin-right: 100px;
}
