nav {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position:absolute;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

@media screen and (max-width: 736px) {
  .bm-burger-button {
    position:absolute;
    width: 24px;
    height: 20px;
    right: 24px;
    top: 24px;
  }
}

@media screen and (max-width: 360px) {
  .bm-burger-button {
    position:absolute;
    width: 18px;
    height: 15px;
    right: 18px;
    top: 18px;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #585858;
}

/*

.bm-burger-button:hover .bm-burger-bars {
  background-color: #050c51;
  opacity: 1;
}

.bm-burger-button:hover .bm-burger-bars:hover {
  background-color: #050c51;
  opacity: 1;
}
*/

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}


/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #343434;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #343434;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item {
  color: white;
}

.bm-item-list a:hover {
  color: #ababab;
}
